<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script>
    function toggle() {
      document.getElementById('question_1').style.display = 'none';
      document.getElementById('question_2').style.display = 'block';
    }
  </script>
  
  <%= f.hidden_field :group_a %>
  
  <div id="question_1" style="display:block">
    <p style="font-size: 1.5em;">After a software engineer has voiced his/her opinion, is there more or less than a <%= @poll.anchor_percent %>% chance that he/she will change his/her opinion later?</p>
    
    <input type="radio" name="option_a" onClick="toggle();"><span style="font-size: 1.5em">  More than a <%= @poll.anchor_percent %>% chance he/she will change his/her opinion</span></input><br/>
    <input type="radio" name="option_b" onClick="toggle();"><span style="font-size: 1.5em">  Less than or equal to a <%= @poll.anchor_percent %>% chance he/she will change his/her opinion</span></input>
  </div>

  <div id="question_2" style="display:none">
    <p style="font-size: 1.5em;">After a software engineer has voiced his/her opinion, what is your best estimate for the % chance that he/she will change his/her opinion later?</p>
    
    <div class="field">
      <%= f.number_field :value %><span style="font-size: 1.5em"> % chance he/she will change his/her opinion</span>
    </div>
    
    <div class="actions">
      <%= f.submit 'Submit' %>
    </div>
  </div>
<% end %>
